.navbar {
    padding: 0px;
    padding-left: 5px;
    min-height: 10px;
}

.btnColor {
    background-color:#4baab4;
    outline-color: #4baab4;
    border: #4baab4;
}

.btnColor:hover {
    background-color: #272822;
    outline-color: #272822;
    border: #272822;
}

.row {
    margin-top: 20px;
}

.brand:hover {
    font-weight: bolder;
}